@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}

.card-list {
  width: 35rem;
  margin: 1vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* border: 2px solid; */
  justify-content: center;
  align-items: center;
}

.card {
  background-color: antiquewhite;
  border: 2px solid;
  border-radius: 10px;
  height: 5rem;
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all300ms ease;
}

.card:hover {
  box-shadow: rgba(227, 72, 72, 0.25) 0px 30px 60px -12px inset;
  cursor: pointer;
}

.card img {
  width: auto;
  height: 110%;
  margin-right: 0.7rem;
}

.card span {
  flex: 1;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  flex: 1;
  align-items: center;
}

.info-container h1 span {
  color: #616161;
}

.info-container img {
  height: auto;
  width: 15rem;
}

.type-container {
  margin-top: 0.5rem;
  display: flex;
  width: 50%;
  justify-content: center;
}

.type {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  width: 9rem;
  border-radius: 22px;
  box-shadow: inset 0px 0px 2px 2px white, 0px 0px 0px 2px black;
  font-size: 2rem;
  color: #f5f8f6;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-right: 1rem;
}

.type.grass {
  background-color: green;
}

.type.bug {
  background-color: #8a970f;
}

.type.dark {
  background-color: #543d30;
}

.type.dragon {
  background-color: #7561df;
}

.type.electric {
  background-color: #fac02f;
}

.type.fairy {
  background-color: #f2aef4;
}

.type.fighting {
  background-color: #7e341c;
}

.type.fire {
  background-color: #ea440d;
}

.type.flying {
  background-color: #8ea1ee;
}

.type.ghost {
  background-color: #6162b1;
}

.type.grass {
  background-color: #68bc2c;
}

.type.ground {
  background-color: #d3b159;
}

.type.ice {
  background-color: #92e0fb;
}

.type.normal {
  background-color: #c5c0b5;
}

.type.poison {
  background-color: #914593;
}

.type.psychic {
  background-color: #e94781;
}

.type.rock {
  background-color: #b9a157;
}

.type.steel {
  background-color: #b3b1c0;
}

.type.water {
  background-color: #3192ef;
}
