@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Fonts */
/* ArcadeClassic */
@font-face {
  font-family: "Arcade";
  src: url("./font/ARCADECLASSIC.TTF") format("truetype");
}
/*VCR_OSD_MONO_1.001 */
@font-face {
  font-family: "VCR";
  src: url("./font/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "Arcade", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

.header {
  display: flex;
  /* border: 2px solid; */
  justify-content: center;
  margin-bottom: 1rem;
  background-color: rgb(198, 42, 42);
}
.header img {
  height: 4rem;
  width: auto;
}

.container {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.btns-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.btns-container button {
  background-color: orange;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px 2px whitesmoke;
}
.btns-container button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px 3px whitesmoke;
}

.card-list {
  width: 35rem;
  margin: 1vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: antiquewhite;
  border: 2px solid;
  border-radius: 10px;
  height: 5rem;
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all300ms ease;
}
.card:hover {
  box-shadow: rgba(227, 72, 72, 0.25) 0px 30px 60px -12px inset;
  cursor: pointer;
}
.card img {
  width: auto;
  height: 110%;
  margin-right: 0.7rem;
}
.card span {
  flex: 1;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  flex: 1;
  align-items: center;
  margin-right: 0.8rem;
}
.info-container h1 span {
  color: #616161;
}
.info-container img {
  height: auto;
  width: 15rem;
  margin-top: 1rem;
}

.type-container {
  margin-top: 0.5rem;
  display: flex;
  width: 50%;
  justify-content: center;
}

.type {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  width: 9rem;
  border-radius: 22px;
  box-shadow: inset 0px 0px 2px 2px white, 0px 0px 0px 2px black;
  font-size: 2rem;
  color: #f5f8f6;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-right: 1rem;
}
.type.grass {
  background-color: green;
}
.type.bug {
  background-color: #8a970f;
}
.type.dark {
  background-color: #543d30;
}
.type.dragon {
  background-color: #7561df;
}
.type.electric {
  background-color: #fac02f;
}
.type.fairy {
  background-color: #f2aef4;
}
.type.fighting {
  background-color: #7e341c;
}
.type.fire {
  background-color: #ea440d;
}
.type.flying {
  background-color: #8ea1ee;
}
.type.ghost {
  background-color: #6162b1;
}
.type.grass {
  background-color: #68bc2c;
}
.type.ground {
  background-color: #d3b159;
}
.type.ice {
  background-color: #92e0fb;
}
.type.normal {
  background-color: #c5c0b5;
}
.type.poison {
  background-color: #914593;
}
.type.psychic {
  background-color: #e94781;
}
.type.rock {
  background-color: #b9a157;
}
.type.steel {
  background-color: #b3b1c0;
}
.type.water {
  background-color: #3192ef;
}

.stat-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  border: 2px solid;
  width: 50%;
  min-width: 20rem;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-top: 1.5rem;
}
.stat-container span {
  display: flex;
  border: 2px solid;
  padding-left: 0.3rem;
  padding-right: 0.5rem;
  justify-content: flex-end;
}
.stat-container .stat-name {
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 0.2rem;
  font-weight: 800;
  width: 100%;
}

.pokeball {
  box-sizing: border-box;
  border: 8px solid #262122;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 10vh;
  background: linear-gradient(
    #ba0c2f 0%,
    #ba0c2f 48%,
    #262122 48%,
    #262122 52%,
    #fff 52%,
    #fff 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  animation: lds-hourglass 1.2s infinite;
}
.inner-ball {
  width: 40%;
  height: 40%;
  background-color: #fff;
  border: 5px solid;
  border-radius: 100%;
  /* box-shadow: 0 0 0 5px white, 0 0 0 10px black; */
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.smooth-image {
  transition: opacity 1s;
}
.image-visible {
  opacity: 1;
}
.image-hidden {
  opacity: 0;
}
.loader {
  padding-bottom: 30%;
}

@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 2rem;
  }

  .info-container {
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .card-list {
    width: 90vw;
    min-width: 320px;
  }
}

@media only screen and (max-width: 445px) {
  .card {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
  }
}
